{% extends 'base.html' %}
{% block 'title' %}
    Login
{% endblock %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <center>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 col-sm-12">
                    <div class="card card-user">
                        <div class="card-image">
                            <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                        </div>
                        <div class="card-body">
                            <form method="post" action="/login">
                                {% csrf_token %}
                                <span class="form-text text-muted">
                                    {{ message }}
                                </span>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Roll number / Username</label>
                                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter roll number or username" name="username" required>
                                    <small id="emailHelp" class="form-text text-muted">Enter your roll number to login</small>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <hr>
                        <div class="button-container mr-auto ml-auto">
                            <button href="#" class="btn btn-simple btn-link btn-icon">
                                <i class="fa fa-facebook-square"></i>
                            </button>
                            <button href="#" class="btn btn-simple btn-link btn-icon">
                                <i class="fa fa-twitter"></i>
                            </button>
                            <button href="#" class="btn btn-simple btn-link btn-icon">
                                <i class="fa fa-google-plus-square"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    </div>
</div>
{% endblock %}
{% block document_ready %}
    {% if message == None %}
        $.notify("You can login using your roll number / username and password.", "info");
    {% else %}
        $.notify("{{message}}", "error");
    {% endif %}
{% endblock %}